<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="postharvest.ucdavis.edu.producefacts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/final_logo"
        android:label="@string/nav_name"
        android:roundIcon="@mipmap/final_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LoadingActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity
            android:name=".ListProduceActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.MainActivity"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".CategoryActivity"
            android:label=""
            android:parentActivityName=".ListProduceActivity">
            <meta-data
                android:name="android.support.ListProduceActivity"
                android:value=".ListProduceActivity" />
        </activity>

        <activity
            android:name=".InformationActivity"
            android:label=""
            android:parentActivityName=".CategoryActivity">
            <meta-data
                android:name="android.support.CategoryActivity"
                android:value=".CategoryActivity" />
        </activity>

        <activity
            android:name=".FullImageActivity"
            android:label=""
            android:parentActivityName=".InformationActivity">
            <meta-data
                android:name="android.support.InformationActivity"
                android:value=".InformationActivity" />
        </activity>


    </application>

</manifest>